/* CSS page */
/* Please place your name Before and After your code */


/***************** 
* Owner : Lindsey
* Date  : November 14
* From  : https://www.w3schools.com/css/css_link.asp
******************/
.h3footer {      /* some styles from here https://www.web-eau.net/blog/10-best-footer-html-css-snippets */ 
  Color: gray;
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:20px;
  text-align: center
}


.col {
  column-count: 3;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  column-rule-width: 5px;
  column-rule-style: solid;
  column-rule-color: grey;
  column-gap: 350px;
}

li{
  text-align:left
}
.social {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}
.footerlink {
  color: whitesmoke;
  text-decoration: none;
  }

.footerlink a:hover {
  color: grey
}

/* unvisited link */
a:link {
  color: whitesmoke;
}

/* visited link */
a:visited {
  color: grey;
}

/* mouse over link */
a:hover {
  color: gray;
}

/* selected link */
a:active {
  color: white;
}

/* End of Lindsey Section */



